<h1>Random Results </h1>
<h4>Minimum</h4>
<%=@minimum%>
<h4>Maximum</h4>
<%=@maximum%>
<h4>Random Number</h4>
<%=@random%>

<div class = "padding-inside-top-md">
<a href=/random/results?min=<%=@minimum%>&max=<%=@maximum%>>
Recalculate
</a>
</div>

<div class = "padding-inside-top-md">
<a href="/random/new">
Pick another random number
</a>
</div>
